<div class="header-container">
  <p>Lista najleprzych wojowników</p>
</div>
<ul>
  <table>
    <thead>
      <tr>
        <th>Miejsce</th>
        <th>Nazwa wojownika</th>
        <th>Ilość zwycięstw</th>
      </tr>
    </thead>
    <tbody>
      {{#each warriors}}
        <tr>
          <th>{{inc @index}}</th>
          <td>{{this.name}}</td>
          <th>{{this.winnings}}</th>
        </tr>
      {{/each}}
    </tbody>
  </table>
</ul>