<div class="header-container">
  <h1 class="home-title">Warrior Game</h1>
  <p class="description">Stwórz własnego wojownika, lub skorzystaj z dostpnych.
    Wybierz z menu interesującą Cię pozycję, życzymy udanej zabawy.</p>
</div>